@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">College of Business.</p>
    <p><a href="https://cob.ohio.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Ohio University
        </p>
        <p><a class="btn btn-default" href="https://ohio.edu">Learn more about Ohio University&raquo;</a></p>
    </div>

    @*@Html.ActionLink("Customers", "Index", "Customers")
        <br />>
        @Html.ActionLink("Orders", "Index", "Orders")
        <br />>
        @Html.ActionLink("Products", "Index", "Products")*@
    <br />>
    @Html.ActionLink("Students", "Index", "Students")
    <br />>
    @Html.ActionLink("Courses", "Index", "Courses")
    <br />>
    @Html.ActionLink("Professors", "Index", "Professors")


</div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>To learn more about me, use the following link for to go to my LinkedIn. </p>
        <p><a class="btn btn-default" href="linkedin.com/in/oliviahoon">Olivia's LinkedIn &raquo;</a></p>
    </div>
</div>